<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
</head>
<body>
    <h1>Items In your Cart:</h1>
    <ul>
        <li><%= @checkout[:item]%></li>
    </ul>
</body>
</html>