<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Practice</title>
</head>
<body>
    <form action="/checkout" method="POST">
        <label for="item">Items to Purchase</label>
        <p><input type="text" name="item" id="item"></p>
        <button type="submit" id="submit">submit</button>
    </form>
</body>
</html>
