<h1> Welcome to the Shop! </h1>
<form method= "post" action="/checkout">
  <p>Your Product: <input type="text" name="item"> </p>
  <p>Buy now and recieve 0% off!<p>
  <input type="submit" id="submit">
</form>
