<form method="post" action="/checkout">
<label for="item">Enter the item you wish to purchase here:</label>
<input type="text" id="item" name="item">
  <br>
  <button type="submit" value="submit">Checkout</button>
</form>
